/build
*/build
*.apk
*.aab
*.ap_
local.properties
key.properties
*.keystore
*.jks
.gradle/
gradle-app.setting
!gradle-wrapper.jar
.idea/
*.iml
*.iws
*.ipr
.navigation/
captures/
.cxx/
.externalNativeBuild/
.DS_Store
Thumbs.db
app/release/